@tailwind base;
@tailwind components;
@tailwind utilities;


/* === font === */
.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-extralight {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.kanit-regular {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-medium {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.kanit-extrabold {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.kanit-black {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.kanit-thin-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.kanit-extralight-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.kanit-light-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.kanit-regular-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.kanit-semibold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.kanit-bold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.kanit-extrabold-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.kanit-black-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* === Global === */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
      max-width: 100vw;
      overflow-x: hidden;
  }

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

a
{
  color: rgb(70, 255, 150);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.gradGreyLight {
  background: linear-gradient(174deg, #ffffff, #999, #000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow:
      0px 0px 1px rgba(255, 255, 255, 0.3),
      1px 1px 1px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.gradBlueLight {
  background: linear-gradient(45deg,
          #0074D9,
          #4a9ff5,
          #7FDBFF,
          #c6efff,
          #7FDBFF,
          #4a9ff5,
          #0074D9);
  background-size: 200% 200%;
}

.gradBlueDark {
  background: linear-gradient(45deg,
          #000d1a,
          /* Very Dark Navy */
          #001a33,
          /* Dark Navy */
          #002b4d,
          /* Navy */
          rgb(0, 61, 102),
          /* Deep Blue */
          rgb(0, 43, 77),
          /* Navy */
          #001a33,
          /* Dark Navy */
          #000d1a
          /* Very Dark Navy */
      );
  background-size: 400% 400%;
  background-size: 200% 200%;
}

.strong {
  font-weight: 650;
  font-size: 1.1rem;
}

.spacer {
  display: block;
  height: 4rem;
}
