.hero {
    padding: 2rem 0;
    max-width: 880px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 64px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 40px;
}

.heroContent {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width: 768px) {
    .heroContent {
        flex-direction: column;
        align-items: center;
    }
}

/* avatar */

.avatars {
    display: flex;
    gap: 10px;
}

.avatar {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: #e0e0ff;
}

.avatar img {
    object-fit: cover;
    /* This ensures the image covers the entire space */
    border-radius: 50%;
    /* Apply border-radius to the image as well */
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 48px;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .avatar {
        width: 250px;
        height: 250px;
    }
}
@media (max-width: 768px) {
    .letsTalk {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
    }
}

.hero p {
    font-size: 18px;
    line-height: 1.5;
    flex: 1;
}

.heroImage {
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
    margin-top: 40px;
}

/* Let's Talk CTA */
.letsTalk {
    margin-top: 30px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(135deg,
            rgba(50, 200, 120, 1) 0%,
            rgba(70, 255, 150, 1) 25%,
            rgba(70, 255, 150, 1) 75%,
            rgba(50, 200, 120, 1) 100%);
    box-shadow:
         0 0 10px rgba(255, 255, 255, 0.3),
         0 0 10px rgba(70, 255, 150, 0.3),
        0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 1s ease;

    color: #000;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.5rem;
    font-family: "Kanit", sans-serif;
    cursor: pointer;

}

.letsTalk:hover {
    background: linear-gradient(135deg,
            rgba(60, 220, 140, 1) 0%,
            rgba(90, 255, 170, 1) 25%,
            rgba(90, 255, 170, 1) 75%,
            rgba(60, 220, 140, 1) 100%);
}

.divider {
    width: 1px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 10px;
}

.phoneIcon {
    font-size: 18px;
}

.tagAndCTA
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.tagAndCTA h3 {
    padding-top: 2rem;
    font-size: 1.8rem;
    margin-bottom: 20px;

    font-family: "Kanit", sans-serif;
    font-weight: 100;
    font-style: normal;
  
}

@media (max-width: 768px) {
    .avatars {
        width: 100%;
        justify-content: center;
        margin-bottom: 20px;
    }

    .tagAndCTA {
        width: 100%;
        text-align: center;
    }
}